{% extends "admin/admin_base.html" %} {% block admin_body %}

<a
  href="/add_product"
  class="w-full flex items-center justify-center bg-gray-800 hover:bg-gray-700 py-3 font-bold text-gray-200"
  >Add New Product</a
>

<!-- Main Dashboard Content -->
<div class="shadow-lg rounded-lg overflow-hidden mx-4 md:mx-10 mt-10">
  <table class="w-full table-fixed">
    <thead>
      <tr class="bg-gray-100">
        <th class="py-4 px-6 text-left text-gray-600 font-medium uppercase">
          Name
        </th>
        <th class="py-4 px-6 text-left text-gray-600 font-medium uppercase">
          Buying Price(pcs)
        </th>
        <th class="py-4 px-6 text-left text-gray-600 font-medium uppercase">
          Selling Price(pcs)
        </th>
        <th class="py-4 px-6 text-left text-gray-600 font-medium uppercase">
          Buying Price(pkt)
        </th>
        <th class="py-4 px-6 text-left text-gray-600 font-medium uppercase">
          Selling Price(pkt)
        </th>
        <th class="py-4 px-6 text-left text-gray-600 font-medium uppercase">
          Buying Price(Carton)
        </th>
        <th class="py-4 px-6 text-left text-gray-600 font-medium uppercase">
          Selling Price(Carton)
        </th>
        <th class="py-4 px-6 text-left text-gray-600 font-medium uppercase">
          Action
        </th>
      </tr>
    </thead>
    <tbody class="bg-white">
      {% for product in products|reverse %}
      <tr>
        <td class="py-4 px-6 border-b border-gray-200">
          <a
            href="/product_update/{{product._id}}"
            class="text-blue-600 hover:underline"
            >{{product.name|truncate(6)}}</a
          >
        </td>
        <td class="py-4 px-6 border-b border-gray-200 text-amber-600">
          {{product.buying_price_pcs}}
        </td>
        <td class="py-4 px-6 border-b border-gray-200 text-amber-600">
          {{product.selling_price_pcs}}
        </td>
        <td class="py-4 px-6 border-b border-gray-200 text-teal-600">
          {{product.buying_price_pkt}}
        </td>
        <td class="py-4 px-6 border-b border-gray-200 text-teal-600">
          {{(product.selling_price_pkt)}}
        </td>
        <td class="py-4 px-6 border-b border-gray-200 text-teal-600">
          {{product.buying_price_carton}}
        </td>
        <td class="py-4 px-6 border-b border-gray-200 text-teal-600">
          {{(product.selling_price_carton)}}
        </td>
        <td class="py-4 px-6 border-b border-gray-200">
          <a
            href="/product_update/{{product._id}}"
            class="bg-green-500 hover:bg-green-400 text-white py-1 px-2 rounded-full text-xs"
            >Update</a
          >
          <!-- <a
            href="/product_update/{{product._id}}"
            class="bg-red-500 hover:bg-red-400 text-white py-1 px-2 rounded-full text-xs"
            >Delete</a
          > -->
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
